<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Vue Single Page Application
            </a>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>
