<template>
    <div class="modal-card" @keyup.ctrl.exact.enter="save">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit user</p>
        </header>

        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Name">
                <b-input
                        type="input"
                        v-model="name"
                />
            </b-field>

            <b-field label="Login">
                <b-input
                        type="input"
                        v-model="login"
                />
            </b-field>

            <b-field label="Phone">
                <b-input
                        type="input"
                        v-model="phone"
                />
            </b-field>

            <b-field label="Website">
                <b-input
                        type="input"
                        v-model="website"
                />
            </b-field>

            <b-field label="Email">
                <b-input
                        type="input"
                        v-model="email"
                />
            </b-field>

            <b-field label="Address">
                <b-input
                        type="input"
                        v-model="address"
                />
            </b-field>

            <b-field class="file">
                <b-upload v-model="image">
                    <a class="button is-primary">
                        <span>Upload avatar</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="image">
                    {{ image.name }}
                </span>
            </b-field>
        </section>

        <footer class="modal-card-foot">
            <b-button type="is-primary" @click="save">
                Save
            </b-button>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "EditUserForm.vue",

        data: () => ({
            name: '',
            login: '',
            phone: '',
            website: '',
            email: '',
            address: '',
            image: null,
            errorMessage: ''
        }),
        props: {
            user: {
                type: Object,
                required: true,
            },
        },

    }
</script>

<style scoped>

</style>
