<template>
    <div class="modal-card" @keyup.ctrl.exact.enter="save">
        <header class="modal-card-head">
            <p class="modal-card-title">Add user</p>
        </header>

        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Name">
                <b-input
                        name="name"
                        type="input"
                        v-model="this.form.name"
                        @change="handleChange"
                />
            </b-field>

            <b-field label="Login">
                <b-input
                        type="input"
                        v-model="this.form.login"
                        @change="handleChange"
                />
            </b-field>

            <b-field label="Phone">
                <b-input
                        type="input"
                        v-model="this.form.phone"
                        @change="handleChange"
                />
            </b-field>

            <b-field label="Website">
                <b-input
                        type="input"
                        v-model="this.form.website"
                        @change="handleChange"
                />
            </b-field>

            <b-field label="Email">
                <b-input
                        type="input"
                        v-model="this.form.email"
                />
            </b-field>

            <b-field label="Address">
                <b-input
                        type="input"
                        v-model="this.form.address"
                        @change="handleChange"
                />
            </b-field>

            <b-field class="file">
                <b-upload v-model="this.form.image">
                    <a class="button is-primary">
                        <span>Upload avatar</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="this.form.image">
<!--                    {{ image.name }}-->
                </span>
            </b-field>
        </section>

        <footer class="modal-card-foot">
            <b-button type="is-primary" @click="save">
                Save
            </b-button>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "NewUserForm",

        data:() => ({
            errorMessage: '',
        }),

        props: {
            form: {
                    type: Object,
                    required: true,
            }
        },

        methods: {
            handleChange(event) {
                const { name, value } = event.target;
                let form = this.form;
                form[name] = value;
                this.form = form;
            },
            save(e) {
                e.PreventDefault;

                if(this.formValidation()) {
                    console.log('ready to submit');
                  this.$emit('onFormSubmit', this.form);
                }
            },
            formValidation() {
                if(document.getElementsByName('name')[0].value === "") {
                    this.errorMessage = "Enter name";
                    return false;
                }

                return true;
            },
        }
    }
</script>

<style scoped>

</style>
