<template>
    <tr>
        <td>#{{ user.id }}</td>
        <td>
            <figure class="image is-64x64">
                <img class="is-rounded fit" :src="user.photo" alt="User avatar">
            </figure>
        </td>
        <td>{{ user.name }} ({{ user.login }})</td>
        <td>{{ user.phone }}}</td>
        <td>{{ user.website}}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td>
            <div class="edit-button">
                <b-button
                        class="button"
                        type="is-success"
                        @click="onEditUserClick()"
                >
                    Edit
                </b-button>
                <b-button
                        class="button"
                        type="is-danger"
                        @click="onDelete()"
                >
                    Delete
                </b-button>
                <b-modal :active.sync="isEditUserModalActive" has-modal-card>
                    <EditUserForm :user="user" />
                </b-modal>
            </div>
        </td>
    </tr>
</template>

<script>
    import EditUserForm from "./EditUserForm";

    export default {
        name: "UserPreviewCard",
        components: {
          EditUserForm,
        },
        data: () => ({
            isEditUserModalActive: false,
        }),
        props: {
            user: {
                type: Object,
                required: true,
            },
        },
        methods: {
            onEditUserClick() {
                this.showEditUserModal();
            },

            showEditUserModal() {
                this.isEditUserModalActive = true;
            },

            onDelete() {
                this.$buefy.dialog.confirm({
                    title: 'Deleting user',
                    message: 'Are you sure you want to <b>delete</b> this user? This action cannot be undone.',
                    confirmText: 'Delete User',
                    type: 'is-danger',

                    onConfirm: () => {
                        this.$emit('onDelete', this.user.id);
                    }
                });
            },
        }
    }
</script>

<style scoped lang="scss">
    .edit-button {
        min-width: 150px;

        button {
            margin-right: 7px;
        }
    }
</style>
