<template>
    <div class="container">
        <div class="navigation">
            <div class="level">
                <div class="level-left">
                    <b-button
                            class="button"
                            type="is-link"
                            @click="onAddUserClick"
                    >
                        Add user
                    </b-button>
                </div>

                <div class="level-right">
                    <b-input
                            type="text"
                            placeholder="Enter name or email"
                    />
                    <b-button
                            class="button"
                            type="is-link"
                    >
                        Search
                    </b-button>
                </div>
            </div>
        </div>

        <div class="table-container">
            <UserPreviewList :users="users" @onDelete="onDelete" />
        </div>

        <b-modal :active.sync="isNewUserModalActive"  has-modal-card>
            <NewUserForm :form="form"  @onFormSubmit="onFormSubmit" />
        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios';
    import NewUserForm from './NewUserForm.vue';
    import UserPreviewList from "./UserPreviewList";

    export default {
        name: "UserContainer",
        components: {
            NewUserForm,
            UserPreviewList,
        },
        data: () => ({
            isNewUserModalActive: false,
            url: "http://backend.test/api/users",
            users: [],
            form: {
                name: '',
                login: '',
                phone: '',
                website: '',
                email: '',
                address: '',
                image: '',
                isEdit: false
            }
        }),
        methods: {
            onAddUserClick() {
                this.showAddUserModal();
            },

            showAddUserModal() {
                this.isNewUserModalActive = true;
            },

            getUsers() {
                axios.get(this.url).then(data => {
                    this.users = data.data;
                })
            },
            deleteUserById(id) {
                axios.delete(`${this.url}/${id}`).then(() => {
                    this.getUsers();
                })
            },
            onDelete(id) {
                this.deleteUserById(id);
            },
            onFormSubmit(data) {
                console.log("Form submit User Container " + data);
            }
        },
        created() {
            this.getUsers();
        },
    }
</script>

<style scoped lang="scss">
    .navigation {
        padding: 10px 0;
    }
</style>
