<template>

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Id</th>
                <th>Avatar</th>
                <th>Name (username)</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

                <template >
                    <UserPreviewCard
                            v-for="user in users"
                            :key="user.id"
                            :user="user"
                            @onDelete="onDelete"
                    />
                </template>

            </tbody>
        </table>
</template>

<script>
    import UserPreviewCard from "./UserPreviewCard";

    export default {
        name: "UserList",
        components: {
            UserPreviewCard,
        },
        data() {

        },
        methods: {
            onDelete(id) {
                this.$emit('onDelete', id);
            },
        },
        props: {
            users: {
                type: Array
            },
        },
    }
</script>
