<template>
    <div class="container desktop">
        <UserContainer />
    </div>
</template>

<script>
    import UserContainer from "../components/view/user/UserContainer";

    export default {
        name: 'UserPage',
        components: {
            UserContainer,
        },
    };
</script>

<style scoped>

</style>
